
 <%- include ('partial/_header') %> 

 <div class="container">

    <div class="row mt-5"> <!--mt-5= margin-top: 5px-->

        <div class="col-md-9"> <!--columna de 7 a la IZQ-->

            <!--Insertar los datos -->
            <table class="table table-bordered table-hover">
                <thead> <!--cabecera de la tabla -->
                  <tr>
                    <th> N°</th> <!--Columnas-->
                    <th> Id</th>
                    <th> Name</th>
                    <th> Address</th>
                    <th> Phone</th>
                    <th> Delete</th>
                    <th> Update</th>
                  </tr>   
                </thead>
                
                <tbody><!--Cuerpo de la tabla-->
                   <% if (data) {%>
                    <% for (var i =0; i < data.length; i++ ){%>
                        <tr>
                            <td><%= (i + 1)%></td>
                            <td><%= data[i].id %></td>
                            <td><%= data[i].names %></td>
                            <td><%= data[i].dir %></td>
                            <td><%= data[i].phone %></td>
                            <td>
                                <a href="/delete/<%= data[i].id %>" class="btn btn-default" style="width: 100%; color: white; background-color: red;">Delete</a>
                            </td>

                            <td>
                                <a href="/update/<%= data[i].id %>" class="btn btn-default" style="width: 100%; color: white; background-color: rgb(26, 156, 217);">Update</a>
                            </td>
                           
                        </tr>

                        <%}%><!--cierra for-->

                    <%}%><!--cierra if-->
                </tbody>
            </table>

        </div>

        <div class="col-md-3"> <!--columna de 5, se posiciona a la DER-->
          
            <div class="card">

               <!--card-body de bootstrap: recuadro tipo card-->
                <div class="card-body">
                    <form action="/add" method="post"> 

                        <!--clase de bootstrap : dar separacion entre divs-->
                        <div class="form-group"> 
                        
                            <!--los "name" son los datos que va a recibir el servidor-->
                            <input type="text" name="names" value="" placeholder="names" class="form-control mb-2">
        
                            <input type="text" name="dir" value="" placeholder="dir" class="form-control mb-2">
        
                            <input type="text" name="phone" value="" placeholder="phone" class="form-control mb-2 ">
                    
                        </div>
        
                        <button type="submit" class="btn btn-primary">
                            Save Customer
                        </button>
        
                    </form>
                </div>

            </div>
        </div>
        
    </div>
</div>

 <%- include ('partial/_footer') %>

 